.masonry {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;

  margin: 0.6rem 0;

  @media screen and (min-width: 724px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1280px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
