.item {
  background: white;
  padding: 2rem;

  border-radius: 0.15rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
  transition: 0.15s box-shadow ease-in-out;

  &:hover {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15),
      0 0 0 0.2rem rgba(0, 0, 0, 0.8);
  }

  .depiction {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
  }

  .category {
    display: flex;
    gap: 0.8rem;

    align-self: flex-start;
    background: #eee;
    padding: 0.5rem 0.9rem;
    border-radius: 0.2rem;

    font-size: 1.45rem;
    letter-spacing: 0.02rem;

    span {
      padding-top: 0.1rem;
    }

    &:global(.category-design) {
      background-color: #fae1f2;
      color: #6a0029;
    }
    &:global(.category-code) {
      background-color: #d3ffda;
      color: #006a29;
    }
    &:global(.category-product) {
      background-color: #d6f7f7;
      color: #004c6a;
    }
    &:global(.category-business) {
      background-color: #e5e9ef;
      color: #212c36;
    }
    &:global(.category-workflow) {
      background-color: #f0e6fa;
      color: #2b0157;
    }
    &:global(.category-experiment) {
      background-color: #dfe3f2;
      color: #090133;
    }
  }

  .title {
    font-size: 1.8rem;
    letter-spacing: 0.02rem;
    margin: 0;
  }

  .description {
    font-size: 1.55rem;
    line-height: 1.5;
    margin: 0;
  }
}
