@import "../../../styles/transitions.scss";
@import "../../../styles/colours.scss";

.container {
  display: flex;
  flex-direction: row;

  gap: 6rem;
  align-items: flex-start;

  max-width: 156rem;
  margin: 0 auto;
  margin-bottom: 4rem;

  padding: 0 6rem;

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    gap: 1.6rem;

    .sidebar {
      max-width: none;
    }
    .filters {
      margin: -1rem -3.4rem;

      & > div {
        padding: 0 3.4rem;
      }
    }
  }

  @media screen and (max-width: 724px) {
    padding: 0 3.4rem;
  }
}

.sidebar {
  margin-bottom: 3.2rem;

  width: 100%;
  max-width: 26.4rem;
  flex-shrink: 0;

  h1 {
    @include slide-in(0.2s);
    font-size: 2.6rem;

    margin: 0;
    margin-bottom: 1.2rem;
  }

  p {
    @include slide-in(0.35s);
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 3.6rem;
  }

  .filters {
    @include slide-in(0.5s);
  }
}

.gallery {
  @include slide-in(0.65s);
  margin: 0.6rem 0;
}
