.item {
  background: white;

  border-radius: 0.15rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.6rem rgba(0, 0, 0, 0.05);
  transition: 0.15s box-shadow ease-in-out;

  &:hover {
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2), 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15),
      0 0 0 0.2rem rgba(0, 0, 0, 0.8);
  }

  .coverImage {
    height: 18rem;
    background-size: cover;
    background-position: center;
  }

  .depiction {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    padding: 2rem;
  }

  .title {
    font-size: 1.8rem;
    letter-spacing: 0.02rem;
    margin: 0;
  }

  .description {
    font-size: 1.55rem;
    line-height: 1.5;
    margin: 0;
  }
}
