@import "../../styles/transitions.scss";

.page {
  overflow-x: hidden;
}

.title {
  padding: 0 14rem;

  h1 {
    font-size: 4.8rem;
    line-height: 6.432rem;
    margin-top: 0;
  }

  @include slide-in-horizontal(0.25s);
}

.projects {
  padding: 0 14rem;
  padding-bottom: 2rem;
  overflow-x: auto;

  @include slide-in-horizontal(0.35s);
}

.projectsInner {
  display: flex;
  gap: 4rem;
}
