@import "../../styles/transitions.scss";

.page {
  position: relative;
}

.main {
  position: sticky;
  top: 14rem;

  height: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  padding: 0 14rem;

  h1 {
    font-size: 4.8rem;
    line-height: 6.432rem;

    margin-top: 0;
    margin-bottom: 2.4rem;
  }

  @include slide-in-horizontal(0.25s);
}

.projects {
  padding: 0 14rem;

  overflow-x: auto;
  overflow-y: hidden;

  height: calc(100vh - 29rem);

  display: flex;
  flex-direction: row;
  align-items: center;

  @include slide-in-horizontal(0.35s);

  h2 {
    margin-bottom: 0.8rem;
  }
}

.projectsInner {
  display: flex;
  gap: 4rem;
}

@media screen and (max-width: 767px) {
  .main {
    position: relative;
    top: auto;
  }

  .projects {
    overflow-x: hidden;
    overflow-y: visible;

    height: auto;
    width: 100%;
  }

  .projects,
  .title {
    padding: 0 3.2rem;
  }

  .projectsInner {
    transform: none !important;
    flex-direction: column;
  }
}
