@import "../../../styles/colours.scss";
@import "../../../styles/transitions.scss";

.hero {
  width: 100%;
  height: 42rem;

  background: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-bottom: 6.4rem;
  margin-top: -2rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @include slide-in(0.1s);

  &::after {
    display: block;
    position: absolute;

    right: 0;
    bottom: -0.2rem;

    width: calc(50vw + 34.5rem);
    height: 2.2rem;

    content: "";
    background-color: $background-color;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 0 4.2rem;
    padding-top: 4rem;

    &::after {
      width: 16rem;
    }
  }
}
