@import "../../styles/colours.scss";
@import "../../styles/transitions.scss";

.container {
  @include slide-in(0.35s);
  padding-bottom: 4rem;
}

.defunct {
  display: block;

  margin-top: -1rem;
  margin-bottom: 3.2rem;

  font-size: 1.8rem;
  opacity: 0.6;
}
