@import "../../styles/transitions.scss";
@import "../../styles/colours.scss";

.container {
  max-width: 61rem;
  padding: 0 2rem;

  margin: 0 auto;
}

.aboutText {
  margin-top: 16rem;
  margin-bottom: 9.2rem;

  h1 {
    @include slide-in(0.2s);
  }
  p {
    @include slide-in(0.35s);
  }
  .links {
    @include slide-in(0.5s);
  }
}

.links {
  display: flex;
  gap: 2.4rem;
  margin: 3.2rem 0;

  font-size: 2rem;

  a {
    color: $foreground-accent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.faq {
  @include fade-in(1s);
  margin-bottom: 8rem;
}

.faqBlock {
  margin: 5.4rem 0;
}
