@import "../../styles/colours.scss";
@import "../../styles/transitions.scss";

.aboutText {
  max-width: 61rem;
  padding: 0 2rem;

  margin: 16rem auto;

  h1 {
    @include slide-in(0.2s);
  }
  p {
    @include slide-in(0.35s);
  }
  .links {
    @include slide-in(0.5s);
  }
}

.links {
  display: flex;
  gap: 2.4rem;
  margin: 3.2rem 0;

  font-size: 2rem;

  a {
    color: $foreground-accent;

    &:hover {
      text-decoration: underline;
    }
  }
}
