@import "../styles/transitions.scss";

.container {
  padding: 0 5.6rem;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  position: relative;
  min-height: 100vh;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-size: 7.4rem;
  position: relative;
  z-index: 1;

  @include fade-in(0.25s);
}

.video {
  $scale: 0.9;

  width: 85rem * $scale;
  height: 55rem * $scale;

  position: absolute;

  margin-top: 4rem;
  right: -12rem;

  // Fix for weird video border glitch in Safari
  // https://stackoverflow.com/a/53779216
  mask-image: radial-gradient(white, black);
  backface-visibility: hidden;

  // Prevent picture-in-picture button overlay in Microsoft Edge
  pointer-events: none;

  @include fade-in(0.25s);
}

@media screen and (max-width: 82rem) {
  .container {
    padding: 0 3.4rem;
  }

  .main {
    justify-content: flex-start;
  }

  .title {
    font-size: 6rem;
    line-height: 6.9rem;
    padding-top: 16vh;
  }

  .video {
    left: -12rem;
    right: auto;

    width: 66.4rem;
    margin-top: 20rem;
  }
}
