.container {
  padding: 0 5.6rem;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}

.main {
  position: relative;
  min-height: 100vh;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  margin: 0;
  font-size: 7.4rem;
  position: relative;
  z-index: 1;

  animation: fade-in 0.5s ease-in-out;
}

.video {
  $scale: 0.9;

  width: 85rem * $scale;
  height: 55rem * $scale;

  position: absolute;

  margin-top: 4rem;
  right: -12rem;

  // Fix for weird video border glitch in Safari
  // https://stackoverflow.com/a/53779216
  mask-image: radial-gradient(white, black);
  backface-visibility: hidden;

  // Prevent picture-in-picture button overlay in Microsoft Edge
  pointer-events: none;

  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
