@import "../../../styles/colours.scss";

.header {
  padding: 3.6rem 4.2rem;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  z-index: 500;

  display: flex;

  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    align-items: center;

    gap: 3rem;

    a {
      padding: 0.8rem 0;
      border-bottom: 0.15rem solid transparent;

      &:global(.current) {
        border-color: $foreground-color;
      }
    }

    :global(.divider) {
      width: 0.1rem;
      height: 1.8rem;
      background-color: rgba(113, 117, 122, 0.15);
    }
  }

  &.light {
    color: white;

    .logo {
      filter: invert(1) brightness(2) saturate(0);
    }

    nav a:global(.current) {
      border-color: white;
    }
  }

  &.mobile {
    height: 10.2rem;
    padding: 0;

    background-color: #f3f2f3;

    &.light {
      background-color: transparent;

      body:global(.scrolled-past-hero) & {
        background-color: #f3f2f3;
      }

      .menuButton {
        background-image: url("/assets/iconography/mobile-menu-white.svg");
      }

      body:global(.scrolled-past-hero) & .menuButton {
        background-image: url("/assets/iconography/mobile-menu.svg");
      }

      &.mobileMenuOpen {
        .logo {
          filter: inherit;
        }
      }
    }

    .menuButton {
      position: absolute;

      right: 0;
      top: 0;

      width: 9.6rem;
      height: 10.6rem;

      border: none;
      cursor: pointer;

      background: transparent url("/assets/iconography/mobile-menu.svg") no-repeat center;
      background-size: 4.8rem 4.8rem;
    }

    a.brand {
      position: absolute;

      top: 3.4rem;
      left: 3.4rem;

      z-index: 1;
    }

    nav {
      position: fixed;

      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      background-color: white;

      padding: 3.4rem;
      gap: 1.4rem;

      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      transform: translateY(-100%);
      overflow: hidden;

      a {
        padding-bottom: 1.6rem;
        font-size: 2.4rem;

        border-bottom: 0.1rem solid #ededed;
        color: $foreground-color;

        &:global(.current) {
          border-color: #000000;
          border-width: 0.15rem;
          font-weight: 500;
        }
      }

      :global(.divider) {
        width: auto;
        height: 1rem;
        background: transparent;
      }
    }

    &.mobileMenuOpen {
      .menuButton {
        background-image: url("/assets/iconography/mobile-menu-close.svg");
      }

      nav {
        transform: translateY(0%);
      }
    }

    &.mobileMenuTouched {
      nav {
        transition: 0.55s transform cubic-bezier(0.51, 0.03, 0.02, 1);
      }
    }
  }
}

body:global(.scrolled-past-hero) .header.light {
  color: $foreground-color;

  .logo {
    filter: none;
  }

  nav a:global(.current) {
    border-color: $foreground-color;
  }
}
