@import "../../../styles/colours.scss";

.header {
  padding: 4.8rem 5.8rem;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  z-index: 500;

  display: flex;

  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    align-items: center;

    gap: 3rem;

    a {
      padding: 0.8rem 0;
      border-bottom: 0.15rem solid transparent;

      &:global(.current) {
        border-color: $foreground-color;
      }
    }
  }

  &.light {
    color: white;

    .logo {
      filter: invert(1) brightness(2) saturate(0);
    }

    nav a:global(.current) {
      border-color: white;
    }
  }
}

body:global(.scrolled-past-hero) .header.light {
  color: $foreground-color;

  .logo {
    filter: none;
  }

  nav a:global(.current) {
    border-color: $foreground-color;
  }
}
