.header {
  padding: 4.8rem 5.8rem;
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  z-index: 500;

  display: flex;

  justify-content: space-between;
  align-items: center;

  nav {
    display: flex;
    align-items: center;

    gap: 3rem;
  }
}

.container {
  padding: 0 2rem;
  max-width: 110rem;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.title {
  margin: 0;
  font-size: 7.4rem;
  position: relative;
  z-index: 1;
}

.video {
  $scale: 0.9;

  width: 85rem * $scale;
  height: 55rem * $scale;

  position: absolute;

  margin-top: 4rem;
  right: -12rem;

  // Fix for weird video border glitch in Safari
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  mask-image: radial-gradient(white, black);
  backface-visibility: hidden;
}
